[project]
	description = Go configuration with fangs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrew Pogrebnoy (absourdnoise)
[access "refs/for/refs/*"]
	read = group user/Andrew Pogrebnoy (absourdnoise)
	push = group user/Andrew Pogrebnoy (absourdnoise)
	label-Code-Review = -2..+2 group user/Andrew Pogrebnoy (absourdnoise)
	label-Verified = -1..+1 group user/Andrew Pogrebnoy (absourdnoise)
	rebase = group user/Andrew Pogrebnoy (absourdnoise)
	removeReviewer = group user/Andrew Pogrebnoy (absourdnoise)
	submit = group user/Andrew Pogrebnoy (absourdnoise)
[access "refs/heads/*"]
	read = group user/Andrew Pogrebnoy (absourdnoise)
	create = group user/Andrew Pogrebnoy (absourdnoise)
	push = +force group user/Andrew Pogrebnoy (absourdnoise)
	pushMerge = group user/Andrew Pogrebnoy (absourdnoise)
[access "refs/tags/*"]
	push = +force group user/Andrew Pogrebnoy (absourdnoise)
	pushTag = group user/Andrew Pogrebnoy (absourdnoise)
	pushSignedTag = group user/Andrew Pogrebnoy (absourdnoise)
